
/**** css customised for popover of "Please login this content" ****/
.popover-inner{
width: auto !important;
}
.techjoomla-bootstrap .likes .popover{
top: -7px !important;
left:87px !important;
}

.techjoomla-bootstrap .likes .popover-inner{
width: auto !important;
box-shadow: 0px !important;
padding:0px !important;
background: none repeat scroll 0 0 transparent !important;
}

.techjoomla-bootstrap .likes .popover-inner .popover-title{
display:none;
}
.techjoomla-bootstrap .likes .popover.right .arrow:after {
   // bottom: -13px !important;
}
/**** css customised for popover of "Please login this content" ****/
div.pull-right .jlikeinnerdiv input#fromdate , div.pull-right .jlikeinnerdiv input#todate{
width:100px !important;
}
.techjoomla-bootstrap .annotation-snippet .jlike-form-actions .labels-space .dropdown-toggle{
height: 30px !important;
}

div.pull-right .jlikeinnerdiv{
float:left;
margin-right:2px;
}

.techjoomla-bootstrap .pwltcb .pwltcb_img
{
width:32px;
height:32px;
border: 1px solid #dddddd;
}

.techjoomla-bootstrap select {
    //width: auto !important;
}
.techjoomla-bootstrap .element-invisible
{
display:none;
}

.likes .annotation-snippet .media .userimage{
height: 45px;
 width: 45px;
}

.likes .btn-success:hover {
    background-color: #51A351 !important;
}
.likes .btn-danger:hover {
    background-color: #BD362F !important;
}
/*#jlike-container .meunlike,#jlike-container .meundislike{
   background-color: #778e0b !important;
		color:	#FFF !important;
}*/
.likes .pwltcb_li
{
cursor:pointer;
float:left;
padding: 2px !important;
}
.likes .pwltcb_ul
{
list-style-type: none !important;
padding: 0px !important;
margin: 0px !important;
}

.jlike-loading-image{
    background: url("../images/ajax-loading.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin: 3px 0;
    padding: 0 5px;
    width: 16px;
    float: left;
}


#jlike-container {
    float: left;
    /*line-height: 24px;
    margin-top: 6px;*/
}
.likes
{
position:relative;

}

/*.innerdiv {position: absolute;margin-top: 5px; left:2px ;background:#fff;z-index: 1;}*/

.innerdiv .annotationNub {border-bottom-color: #323232;}
.innerdiv .annotationNub {top: -10px;}
.innerdiv .annotationNub {left: 6px;}
.annotationNub {border: 5px solid transparent;}
.annotationNub, .nibtip { height: 0;line-height: 0;position: absolute;width: 0;}
.pam {
    padding: 10px;
}

.techjoomla-bootstrap .annotation-snippet #label-start{
position: relative;
height:20px;
}

.techjoomla-bootstrap .likes .jlike-header{
	padding: 5px;
	background-color: #eee;
	margin-bottom:2px;
	font-weight:bold;
}

.techjoomla-bootstrap .like-success-msg
{
margin-bottom:2px !important;
}

.techjoomla-bootstrap .annotation-snippet .labels-space .caret
{
margin-bottom: 8px;
}

.techjoomla-bootstrap .jlike-tag-append-text, .techjoomla-bootstrap .jlike-tag-append-button{
	height: 35px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 24px;
}
.techjoomla-bootstrap .annotation-snippet .jlike-tag-append-button .icon-plus-sign
{
 margin-bottom: 5px;
margin-left: -6px;
}
.techjoomla-bootstrap .annotation-snippet .user-labels #jlike-add-label .input-append {
    width: 98%;
}
.unstyled_list{
 padding:0px;
}

.user-labels li{
margin-left: 20px;
}

.user-labels #jlike-add-label, .user-labels #jlike-label-devider{
margin-left: 0px;
}

.techjoomla-bootstrap .annotation-snippet .labels-space .jlike-btn{
font-size: 12px;
background-color: #FFFFFF !important;
background-image: none !important;
}

#jlike-container .melike,#jlike-container .meunlike,#jlike-container .meundislike, #jlike-container .medislike {

    float: left;
    font-weight: bold;
}


#jlike-container .likeCountButton , #jlike-container .dislikeCountButton {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1C1C1;
    height: 14px;
    line-height: 14px;
    margin-left: 6px;
    min-width: 15px;
    padding: 1px 2px;
    text-align: center;
    white-space: nowrap;
		max-width:25px;
}
#jlike-container .likeCountButtonNub ,#jlike-container .dislikeCountButtonNub {
    height: 0;
    left: 2px;
    position: relative;
    top: -14px;
    width: 5px;
    z-index: 2;
}
#jlike-container .likeCountButtonNub s ,#jlike-container .dislikeCountButtonNub s {
    border-color: transparent #D7D7D7;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}

#jlike-container .likeCountButtonNub s ,#jlike-container .dislikeCountButtonNub s {
    border-color: transparent #D7D7D7;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}
#jlike-container .likecountdiv ,#jlike-container .dislikecountdiv{
margin: 7px 4px 0 0;
float:left;
}



.techjoomla-bootstrap  .openlable{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.techjoomla-bootstrap  .openlable .user-labels
{
visibility:visible;
display:block !important;
}


.techjoomla-bootstrap .span2 .icon-chevron-down{
	float: right;
	margin: 2px;
}

.techjoomla-bootstrap .annotation .user-labels li{
padding: 3px 0 5px 10px !important;
}
.techjoomla-bootstrap .annotation .user-labels li.divider{
padding: 0px !important;
}

.techjoomla-bootstrap .annotation .control-group {
margin-bottom: 1px !important;
margin-top: 1px !important;
}
/*
.techjoomla-bootstrap .form-horizontal .form-actions {
    padding: 17px 20px 18px !important;
}*/

.techjoomla-bootstrap .form-horizontal .radio.btn-group input[type="radio"] {
    display: none;
}


/*
*  Added to get Jlike view**/
#jlike-container{
	display: block;
	margin-left: 10px;
}



.techjoomla-bootstrap #jlike-container {
    padding:7px;
}

.techjoomla-bootstrap #jlike-container a.medislike, .techjoomla-bootstrap #jlike-container a.meundislike{
    margin-left:9px;
}

#jlike-container .melike, #jlike-container .meunlike, #jlike-container .medislike, #jlike-container .meundislike {
    display: block;
    float: left;
    font-weight: bold;
    text-decoration: none;
	background-color: transparent;
	color: #315264;
	padding:4px 15px;
	cursor:pointer;
}
#jlike-container  .like-snippet-btn {
	border: 1px solid #ccc;
	/*height: 30px;*/
	line-height: 24px;
    padding: 3px 15px;
	margin: 6px 6px 0px 0px;
}
#jlike-container  .like-snippet-btn  .like-snippet-text{
	border-right: 1px solid #ccc;
	padding-right: 5px;
}
#jlike-container  .like-snippet-btn  .like-snippet-count{
	padding-left: 5px;
}

#jlike-container .meunlike
{
	background: none repeat scroll 0 0 #778e0b;
	transition: all 100ms ease-in-out 0s;
	box-sizing: border-box;
	border: 1px solid #9bb387;
	color: #FFF;
	text-align: center;
}
#jlike-container .meundislike
{
	background: none repeat scroll 0 0 #DD3636;
	transition: all 100ms ease-in-out 0s;
	box-sizing: border-box;
	border: 1px solid #DD3636;
	color: #FFF;
	text-align: center;
}

#jlikeToolbar .like-snippet .fa
{
	font-size:14px !important;
}


/*.techjoomla-bootstrap #jlike-container .meunlike, #jlike-container .meundislike {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}*/


.techjoomla-bootstrap #jlike-container .meunlike, .techjoomla-bootstrap #jlike-container .meundislike {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.techjoomla-bootstrap #jlike-container a:hover,
 .techjoomla-bootstrap #jlike-container a:active,
 .techjoomla-bootstrap #jlike-container a:focus {
	text-decoration: none !important;
	background-color: #778e0b !important;
	color: #FFF !important;
	border: 1px solid #778e0b;
	max-height: 30px;
	padding: 4px 12px;
	border-radius: 4px;
}

//Comments Styling

.techjoomla-bootstrap .jlike_smiley{
background-repeat: no-repeat;
}

.techjoomla-bootstrap div.jlike_smiley{
z-index:10;
}

.techjoomla-bootstrap button.jlike_smiley{
background: url(../images/smileys/s2.png) -22px -25px !important;
background-repeat: no-repeat ;
width: 15px;
height: 25px;
border:0px !important;
cursor:pointer;
float:right;
box-shadow:none !important;
padding:0px !important;
}


.techjoomla-bootstrap div.pointer,.techjoomla-bootstrap .jlike_pointer{
cursor:pointer;
}
.techjoomla-bootstrap .jlike_smileybox {/*manoj*/
position:absolute;
border: 1px solid #999;
right: 0px;
bottom: 25px;
background: none repeat scroll 0 0 white;
width: 50px;
}

.techjoomla-bootstrap .jlike_smileybox table, .jlike_smileybox tr, .jlike_smileybox td{
border:0px !important;
margin:0px !important;/*manoj*/
padding:0px !important;/*manoj*/
}
.techjoomla-bootstrap .jlike_smileybox table img{
	padding:5px  !important;
}

.techjoomla-bootstrap .jlike_commentbtn{

}

.techjoomla-bootstrap .jlike_cancelbtn{

}
.techjoomla-bootstrap .jlike_cancelbtn_new_comment{
float:right; margin-right:1%;
}
/*jlike_cancelbtn_new_comment */
.techjoomla-bootstrap .jlike_renderedComment{
background-color:white !important; border:0px !important;
}

.techjoomla-bootstrap .jlike_userAvtar{
display:inline-block;
margin-top:0%;
}

.techjoomla-bootstrap ul.dropdown-menu #lioldest a:hover{
background-color: #CCCCCC;
background-image: none;

color: #000000;
text-decoration: none;
}

.techjoomla-bootstrap ul.dropdown-menu #lilatest a:hover{
background-color: #CCCCCC;
background-image: none;
color: #000000;
text-decoration: none;
}


.techjoomla-bootstrap .jlike_comment_msg{
font-weight:bold;
}

.techjoomla-bootstrap .jlike_caret_margin{
margin-top:6%;
}


.techjoomla-bootstrap .jlike_box_width{
width:100%;
}

.techjoomla-bootstrap .jlike_position_relative{
	position:relative;
}
.techjoomla-bootstrap .jlike_edit_dropdown{
margin-left:86.3% !important;
min-width:85px !important;
}

.techjoomla-bootstrap .jlike_top_margin{
margin-top:4%;
}

.techjoomla-bootstrap .jlike_display_none{
display:none ;
}
.techjoomla-bootstrap .jlike_display_block{
display:block;
}
.techjoomla-bootstrap .jlike_textarea{
overflow-y:hidden;
resize:vertical;
min-height:56px !important;
background-color: white !important;
border:1px solid gray;
}

.techjoomla-bootstrap .jlike_display_inline_blk{
display:inline-block;
}
.techjoomla-bootstrap .jlike_viewCommentsMsg{
margin-top: 30px;
}
.techjoomla-bootstrap .jlike_center{
margin-left:50%;
}
.techjoomla-bootstrap .jlike_add_comment{
padding-top:5px;
}
.techjoomla-bootstrap .jlike_saved_comment{
border: 0px !important;
}


.techjoomla-bootstrap .jlike_maring_left_span11{
margin-left:1.2% !important;
}


.techjoomla-bootstrap .jlike_comment_padding{
	padding-top:5px;
	padding-bottom:5px;
}

.techjoomla-bootstrap .jlike_userImg_padding{
padding-top:10%;
}
.techjoomla-bootstrap .jlike_no_radius{
border-radius:0px !important;
}
.techjoomla-bootstrap .jlike_comment_border_shadow{
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.techjoomla-bootstrap .jlike_margin_left{
margin-left:1%;
}


.techjoomla-bootstrap .jlike_like_icon_margin{
margin-right: -1px;
margin-top:-1%;
}

.techjoomla-bootstrap .jlike_margin_from_left{
margin-left:2%;
}

.techjoomla-bootstrap .jlike_like_dislike_count{
margin-left: 0.5%;
}
.techjoomla-bootstrap .jlike_list_style_type{
list-style-type:none !important;
}

@media all and (max-width: 480px) and (min-width: 100px) {
  .techjoomla-bootstrap .jlike_comments_container .media-body {
    padding-left: 0px !important;
    overflow:visible !important;
  }
}
.techjoomla-bootstrap .jlike_comments_container .jlike_comments{
	padding:10px;
}
.techjoomla-bootstrap .jlike_comments_container .media-body {
overflow:visible !important;
}

.techjoomla-bootstrap .jlike_comments_container .media {
overflow:visible !important;
}

.jlike_hr_margin{
margin:10px !important;;
}

.jlike_media_body{
padding-left:46px;
}

.jlike_comment_time{
color:rgb(137, 143, 156);
}

.jlike_smiley_container{
z-index:1001;
margin-top: -20px;
float: right;
margin-right:6px;
height:15px;
}
.jlike_loadbar{
padding-left:50%;
}
.jlike_btn_container{
position:relative;
}

.jlike_cancel_comment_btn{
float:right;
}
.jlike_comment_btn{
margin-right:5px;
}
.jlike-icon-time{
	text-indent:-9999px;
	background:url("../images/jlike_glyphicons-halflings.png") -23px -22px no-repeat;
	width:20px;
	height:20px;
	padding:0;
	position:relative;
}
.jlike_commment_padding{
padding-top:7px;
}

.jlike_comment_padding_top{
padding-top:5px;
}

.jlike_comment_padding_right{
padding-right:5px;
}

.jlike_text_decoration a{
text-decoration:none !important;
}

/*.jlike_comments_container .icon-pencil{
opacity:0 !important;
font-size:0px !important;
}*/

.jlike_commentingArea:hover .icon-pencil{
opacity:1 !important;
}
.jlike_tp_margin{
margin-top:2px !important;
}

.jlike_count_box{
margin-left: 4px;
padding: 0 3px;
display: inline;
position: relative;
width: 25px;
height: 15px;
/*background: rgb(255, 255, 255);
border-radius: 1px;
border-color: rgb(127, 255, 212);
border: 1px solid rgb(215, 215, 215);*/
line-height: 14px;
z-index:0;
}

.reply_like_dislike_div
{
padding-top:10px;
}

.jlike_count_box:after{
content: "";
position: absolute;
top: 3px;
left: -5px;
/*border-style: solid;
border-width: 5px 5px 5px 0px;
border-color: transparent #CBCFD4;*/
color:#B6C3CB;
display: block;
width: 0;
z-index: 1;
}

/* Zoo specific */

.likes form div{
margin: none !important;
padding: none !important;
}

/* Zoo specific */
.jlike-comment-header{
	padding:5px;
	background-color:#eee;
}
/** j25 */

/* commented becoz comment icon looking wired on most of the templates
.jlike_icon_comment_pos
{
background-position: -240px -121px !important;
font-size: 0px !important;
}
*/

ul li .techjoomla-bootstrap .likes a
{
line-height:22px !important;
}
/*VK*/
.techjoomla-bootstrap  .jlike-form-actions .labels-space .jlike-btn
{
	height: 30px;position: relative;padding: 0px;
}
.techjoomla-bootstrap  .jlike-form-actions .labels-space .jlike-btn .list_placeholder{
margin: 0px 10px;
}
.techjoomla-bootstrap .jlike-form-actions .labels-space .jlike-btn .list_caret_container{
display: inline-block;
    height: 28PX;
    padding: 0PX 10PX 0PX 10PX;
    /* margin: 0px; */
    vertical-align: middle;
    background: #CCC;
    position: absolute;
    top: -1PX;
    right: -29PX;
    border: 1PX solid;
}
.techjoomla-bootstrap  .jlike-form-actions .labels-space .jlike-btn .list_caret_container .caret{
vertical-align: middle;
}

.techjoomla-bootstrap .jlike-form-actions .labels-space .user-labels
{
position:absolute;
margin: 0px;
border-radius:0px;
list-style-type: none;
display: none;
}

/** override Changes for jComment */
#jc .rbox{
overflow:visible !important;
}

.jlike-img-border{
border: 1px solid #dddddd;
}


/*recommend course*/
.recommendActionBtn
{
text-align:center;
}

.annotation-snippet textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
}
