.jlike_review_button {
	margin-top: 5px;
}

.Jlike_user_rating {
margin-top:3px !important;
margin-left:12px !important;
}
.Jlike_user_rating_help {
  color: #666;
  font-size: 11px;
}
.jlike_help_message {
  color: #666;
  font-size: 11px;
}
.showlimited_review {
margin-top: 14px;
}
.jlike_rating_andreviews{

}
.techjoomla-bootstrap .jlike_textarea {
/*margin : 15px 0px 0px 0px;*//*^mL -> to avoid conflict on comments form*/
}
.jlike_display_block {
float: left;
 width: 100%;
}

.viewMoreReviews {
float: left;
 width: 100%;
}
.jlike_position_fixed{
  position: fixed;
  float: right;
  margin: 37px 630px;
}
.showEditDeleteButton {
  cursor: pointer;
}
