<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general_settings" label="COM_JLIKE_GEN_SET" description="" addfieldpath="/administrator/components/com_jlike/elements" >
		<field name="integration" type="list" default="joomla" description="COM_JLIKE_INTEGRATE_WITH_DESC" label="COM_JLIKE_INTEGRATE_WITH">
			<option value="joomla">COM_JLIKE_JOOMLA</option>
			<option value="js">COM_JLIKE_JS</option>
			<option value="EasySocial">COM_JLIKE_ES</option>
			<option value="cb">COM_JLIKE_CB</option>
			<option value="jomwall">COM_JLIKE_JOMWALL</option>
		</field>
		<field name="allow_dislike" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_DISLIKE" description="COM_JLIKE_ALLOW_DISLIKE_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="allow_annotation" class="btn-group" type="radio" default="0" label="COM_JLIKE_ALLOW_ANNOTATION" description="COM_JLIKE_ALLOW_ANNOTATION_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="allow_user_lables" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_USER_LABLES" description="COM_JLIKE_ALLOW_USER_LABLES_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="show_users" class="btn-group" type= "radio" default="0" label="COM_JLIKE_SHOW_OTHERS" description="COM_JLIKE_SHOW_OTHERS_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="which_users_to_show" type= "radio" default="0" label="COM_JLIKE_OTHERS_TO_SHOW" description="COM_JLIKE_OTHERS_TO_SHOW_DESC">
			<option value="1">COM_JLIKE_FRIENDS</option>
			<option value="0">COM_JLIKE_ALL</option>
		</field>
		<field name="allow_activity_stream" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_ACTIVITY_STREAM" description="COM_JLIKE_ALLOW_ACTIVITY_STREAM_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="allow_like_notification" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_LIKE_NOTIFICATION" description="COM_JLIKE_ALLOW_LIKE_NOTIFICATION_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="allow_dislike_notification" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_DISLIKE_NOTIFICATION" description="COM_JLIKE_ALLOW_DISLIKE_NOTIFICATION_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
<!--
		<field name="enableMailLikedBtn" type="radio" default="0" label="COM_JLIKE_MY_LIKES_SEND_MAILS" description="COM_JLIKE_MY_LIKES_SEND_MAILS_DESC"  class="btn-group">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
-->

<!--
		<field name="statusMgt" type="radio" default="0" label="COM_JLIKE_STATUS_MGT" description="COM_JLIKE_STATUS_MGT_DESC"  class="btn-group">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
-->

		<!-- <field name="get_fixdb_btn" class="btn-group" type= "radio" default="0" label="COM_JLIKE_DISPLAY_FIX_DB_BUTTON" description="COM_JLIKE_DISPLAY_FIX_DB_BUTTON_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field> -->
		<field menu="hide" type="legend" id="jlike-display-settings" name="jgive-integrations-settings" label="" default="COM_JLIKE_CONFIGURATION_DISPLAY_SET" hint="" />
		<field name="bootstrap_version" type="radio" default="bs3" description="COM_JLIKE_LOAD_BS_VIEWS_DESC" label="COM_JLIKE_LOAD_BS_VIEWS" >
			<option value="bs3">COM_JLIKE_BS3</option>
			<option value="bs5">COM_JLIKE_BS5</option>
		</field>
		<field name="load_bootstrap" type="radio" default="0" label="COM_JLIKE_LOAD_BOOTSTRAP" description="COM_JLIKE_LOAD_BOOTSTRAP_DESC"  class="btn-group">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="jlike_comments" label="COM_JLIKE_COMMENTS_SET" description="" addfieldpath="/administrator/components/com_jlike/elements" >
		<field name="allow_comments" class="btn-group" type="radio" default="1" label="COM_JLIKE_ALLOW_ANNOTATION_BUTTON" description="COM_JLIKE_ALLOW_ANNOTATION_BUTTON_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="no_of_commets_to_show" class="btn-group" type="text" default="5" label="COM_JLIKE_NO_OF_COMMENTS_SHOW" description="COM_JLIKE_NO_OF_COMMENTS_SHOW_DESC" />

		<field name="allow_threaded_comment" class="btn-group" type="radio" default="1" label="COM_JLIKE_ALLOW_THREDED" description="COM_JLIKE_ALLOW_THREDED_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="threaded_level" class="btn-group" type="text" default="3" label="COM_JLIKE_THREDED_LEVEL" description="COM_JLIKE_THREDED_LEVEL_DESC" />

		<field name="limit_on_comment_lenght" class="btn-group" type="radio" default="0" label="COM_JLIKE_LIMIT_ON_COMMENT_LENGTH" description="COM_JLIKE_LIMIT_ON_COMMENT_LENGTH_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="comment_length" class="btn-group" type="text" default="160" label="COM_JLIKE_COMMENT_LENGTH" description="COM_JLIKE_COMMENT_LENGTH_DESC" />
		<!--
		<field name="allow_tagging" class="btn-group" type="radio" default="1" label="COM_JLIKE_ALLOW_TAGGING_IN_COMMNETS" description="COM_JLIKE_ALLOW_TAGGING_IN_COMMNETS_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		-->
		<field name="allow_activity_stream_comment" class="btn-group" type= "radio" default="0" label="COM_JLIKE_ALLOW_ACTIVITY_STREAM_COMMENT" description="COM_JLIKE_ALLOW_ACTIVITY_STREAM_COMMENT_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="js_notification" class="btn-group" type="radio" default="1" label="COM_JLIKE_NOTIFICATION" description="COM_JLIKE_NOTIFICATION_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="js_notification_replies" class="btn-group" type="radio" default="1" label="COM_JLIKE_NOTIFICATION_REPLY" description="COM_JLIKE_NOTIFICATION_REPLY_DESC" >
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="like_dislike_comments" class="btn-group" type="radio" default="1" label="COM_JLIKE_ALLOW_LIKE_DISLIKE_COMMENT" description="COM_JLIKE_ALLOW_LIKE_DISLIKE_COMMENT_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="show_comment_dislike_button" class="btn-group" type="radio" default="1" label="COM_JLIKE_HIDE_DISLIKE_BUTTON" description="COM_JLIKE_HIDE_DISLIKE_BUTTON_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="js_notification_on_like" class="btn-group" type="radio" default="1" label="COM_JLIKE_JS_NOTIFICATION_ON_LIKE" description="COM_JLIKE_JS_NOTIFICATION_ON_LIKE_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="js_notification_on_dislike" class="btn-group" type="radio" default="1" label="COM_JLIKE_JS_NOTIFICATION_ON_DISLIKE" description="COM_JLIKE_JS_NOTIFICATION_ON_DISLIKE_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
	</fieldset>
	<fieldset name="jlike_reviews" label="COM_JLIKE_REVIEWS_SET" description="" addfieldpath="/administrator/components/com_jlike/elements" >
		<field name="jlike_enable_rating" class="btn-group" type="radio" default="0" label="COM_JLIKE_ENABLE_RATING" description="COM_JLIKE_ENABLE_RATING_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
		<field name="rating_length" class="btn-group" type="text" default="5" label="COM_JLIKE_RATING_LENGTH" description="COM_JLIKE_RATING_LENGTH_DESC" />
		<field name="jlike_rating_image" class="btn-group" type="list" default="stars" label="COM_JLIKE_RATING_IMAGE" description="COM_JLIKE_RATING_IMAGE_DESC">
			<option value="stars">COM_JLIKE_RATING_STARS</option>
			<!--option value="cart">COM_JLIKE_RATING_CART</option-->
			<option value="heart">COM_JLIKE_RATING_HEART</option>
		</field>

		<field name="jlike_allow_rating_edit" class="btn-group" type="radio" default="1" label="COM_JLIKE_ALLOW_RATING_EDITABLE" description="COM_JLIKE_ALLOW_RATING_EDITABLE_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>
	</fieldset>

	<fieldset name="recommend_assignment" label="COM_JLIKE_RECOMMEND_ASSG_SET" description="" >
		<field name="recommendation" class="btn-group" type="radio" default="0" label="COM_JLIKE_RECOMMENDATION" description="COM_JLIKE_RECOMMENDATION_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>

		<field name="assignment" class="btn-group" type="radio" default="0" label="COM_JLIKE_ASSIGNMENT" description="COM_JLIKE_ASSIGNMENT_DESC">
			<option value="1">COM_JLIKE_YES</option>
			<option value="0">COM_JLIKE_NO</option>
		</field>

		<field name="which_users_in_list" type="radio" default="1" label="COM_JLIKE_WHICH_USERS_TO_SHOW_IN_LIST" description="COM_JLIKE_WHICH_USERS_TO_SHOW_IN_LIST_DESC">
			<option value="0">COM_JLIKE_FRIENDS</option>
			<option value="1">COM_JLIKE_ALL</option>
		</field>
		<!--Enable/disable email notification assign/recommend-->
		<field name="send_auto_reminders" class="btn-group" default="0" type="radio" label="COM_JLIKE_SEND_AUTO_NOTIFICATION" description="COM_JLIKE_SEND_AUTO_NOTIFICATION_DESC">
 		<option value="1">COM_JLIKE_YES</option>
 		<option value="0">COM_JLIKE_NO</option>
 		</field>
	</fieldset>

	<fieldset name="updates" label="COM_JLIKE_OPTIONS_UPDATES_LBL">
		<field name="downloadid" type="text" default="" size="30" label="COM_JLIKE_OPTIONS_DOWNLOADID_LBL" description="COM_JLIKE_OPTIONS_DOWNLOADID_DESC" />
	</fieldset>

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL" >

		<field name="rules" type="rules" component="com_jlike" class="inputbox" filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>

	<fieldset name="jlike_reminders_setting" label="JCONFIG_REMINDERS_SETTING_LABEL" >
		<!--Set batch size for the reminders-->
 		<field name="reminder_batch_size" default="0" type="number" min = "1" label="COM_JLIKE_REMINDER_BATCH_SIZE" description="COM_JLIKE_REMINDER_BATCH_SIZE_DESC" class="validate-number" />
	</fieldset>
	<fieldset name="jlike_path_setting" label="JCONFIG_PATH_SETTING_LABEL" >
		<!--Set batch size for the reminders-->
 		<field name="path_image_size" default="1" type="number" label="COM_JLIKE_PATH_IMAGE_SIZE" description="COM_JLIKE_PATH_IMAGE_SIZE_DESC" class="validate-number" />

	</fieldset>

</config>
